
body{
background:#a4f6a1;


}
.body{
    position:absolute;
    left:480px;
    top:40px;
    width:300px;
    height:300px;
display:none;
}
img{
    width:300px;
    height:300px;
}
.grass{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:500px;
    height:500px;
}
.earth{
    position:absolute;
    left:50%;
    top:208px;
    transform:translateX(-50%);
    width:500px;
    height:500px;
}
.mount{
    position:absolute;
    left:50%;
    top:20px;
    transform:translateX(-50%);
    width:500px;
    height:500px;
   
}
.tree{
    position:absolute;
    left:50%;
    top:20px;
    transform:translateX(-50%);
    width:500px;
    height:500px;
    
}
.el{
    width:500px;
    height:500px;
    position:absolute;
}
.p1{
    background-color:#5c8f29;
    clip-path: polygon(23% 65%, 21% 73%, 29.2% 66%);
}
.p2{
    background-color:#7cb327;
    clip-path: polygon(23% 65%, 28% 58%, 29.2% 66.1%);
}
.p3{
    background:#6d9e2e;
    clip-path: polygon(37% 56%, 28% 58%, 29% 66%);
}
.p4{
    background:#a9ce62;
    clip-path: polygon(39% 53%, 41% 64%, 29% 66%);
}
.p5{
background:#91c046;
clip-path: polygon(39% 53%, 41% 64%, 51.4% 66.2%);
}
.p6{
    background:#477d29;
    clip-path: polygon(39% 53%, 53.1% 55%, 51.1% 66%);
}
.p7{
    background:#4c8129;
    clip-path: polygon(61% 60%, 53% 55%, 51% 66%);
}
.p8{
    background:#5c8f2a;
    clip-path: polygon(61% 59.9%, 63.1% 68.1%, 51% 66%);
}
.p9{
    background:#6ea429;
    clip-path: polygon(61% 60.3%, 53% 55%, 66% 53%);
}
.p10{
    background:#6ea429;
    clip-path: polygon(61% 60%, 63% 68%, 66% 53%);
}
.p11{
    background:#6ea429;
    clip-path: polygon(65% 57%, 72% 65%, 66% 53%);
}
.p12{
    clip-path: polygon(73.1% 55.1%, 72% 65.5%, 65.9% 53%);
    background:#7cb327;
}
.p13{
    clip-path: polygon(73% 55%, 72% 65%, 76% 61%);
    background:#7cb327;
}
.p14{
    clip-path: polygon(80% 66%, 72% 65%, 76% 61%);
    background:#6ea429;
}
.p15{
    clip-path: polygon(80% 66%, 72% 65%, 75% 70%);
    background:#5c8f2a;
}
.p16{
    clip-path: polygon(63% 68%, 72% 65%, 75% 70%);
    background:#a9ce62;
}
.p17{
    background:#90bf44;
    clip-path: polygon(63% 68%, 72% 65%, 65% 56%);
}
.p18{
    clip-path: polygon(63% 67.9%, 75% 70%, 64% 75%);
    background:#a9ce62;
}
.p19{
    clip-path: polygon(64% 75%, 63% 68%, 49% 70%, 47% 79%, 61% 76%);
    background:#91c046;
}
.p20{
    clip-path: polygon(51% 65.8%, 49% 70%, 63% 68%);
    background:#84ac3a;
}
.p21{
    clip-path: polygon(41% 64%, 51% 66%, 49% 70%, 47% 79%, 34% 77%);
    background:#7cb327;
}
.p22{
    clip-path: polygon(41% 64%, 29% 66%, 21% 73%, 34% 77%);
    background:#91c046;
}
.p23{
    clip-path: polygon(21% 33%, 34% 37%, 27% 38%, 24% 42%);
    background:#a75740;
}
.p24{
    clip-path: polygon(27.1% 37.8%, 23% 43%, 30.1% 54%);
    background:#904228;
}
.p25{
    clip-path: polygon(27% 38%, 36% 52%, 30% 54%);
    background:#6e301f}
.p26{
    clip-path: polygon(26.8% 37.9%, 34% 36.9%, 41% 38%, 35.9% 52%);
    background:#693a28;
}
.p27{
    clip-path: polygon(31% 53.6%, 36% 51.8%, 41% 61%, 34% 64%);
    background:#904127;
}
.p28{
    clip-path: polygon(35.7% 51.5%, 40.9% 61%, 50% 54%);
    background:#6d301f;
}
.p29{
    clip-path: polygon(35.7% 51.6%, 47% 40%,  50% 54.1%);
    background:#793622;
}
.p30{
    clip-path: polygon(38% 45%, 47% 39%, 49% 38.5%, 35.5% 52%);
    background:#6f3120;
}
.p31{
    clip-path: polygon(41% 38%, 37.9% 45.4%, 47% 39%);
    background:#8e4731;
}
.p32{
    clip-path: polygon(48.9% 38.5%, 53% 37.6%, 54% 45%, 47% 40.3%);
    background:#6f3925;
}
.p33{
    clip-path: polygon(47% 40.2%, 49.9% 54%, 54% 44.9%);
    background:#402011;
}
.p34{
    clip-path: polygon(52.9% 37.6%, 53.9% 45%, 61% 36%);
    background:#913f26;
}
.p35{
    clip-path: polygon(50% 54%, 37% 62.5%, 50% 62%);
    background:#8f4e3a;
}
.p36{
    clip-path: polygon(50% 61.9%, 37% 62.5%, 47% 67%);
    background:#723321;
}
.p37{
    clip-path: polygon(50% 61.8%, 54% 72.5%, 47% 66.9%);
    background:#5e291a;
}
.p38{
    clip-path: polygon(50% 62%, 54% 72.7%, 57% 50.9%);
    background:#512415;
}
.p39{
    clip-path: polygon(65% 67%, 53.9% 72.7%, 56.9% 50.9%);
    background:#402011
}
.p41{
    clip-path: polygon(49.9% 62.3%, 49.9% 54%, 53.9% 44.8%, 66% 40%);
    background:#a75740;
}
.p40{
    clip-path: polygon(65% 67%, 57.2% 52%, 65.8% 40%, 67% 52%);
    background:#612a1b;
}
.p42{
    clip-path: polygon(53.8% 45%, 60.9% 36%, 64% 35%, 70% 39%);
    background:#692e1d;
}
.p43{
    clip-path: polygon(65.9% 40.4%, 70% 38.9%, 73% 44%);
    background:#402011;
}
.p44{
    clip-path: polygon(65.8% 40.3%, 66.8% 53%, 73% 43.9%);
    background:#703220
}
.p45{
    clip-path: polygon(63.9% 35%, 69.9% 39%, 72.9% 43.9%, 79% 35%);
    background:#662d1c;
}
.p46{
    clip-path: polygon(75% 30%, 64% 35%, 79.1% 35.1%);
    background:#5c2819;
}
.p47{
    clip-path: polygon(74.9% 30.1%, 80% 26%, 79% 35.1%);
    background:#402011;
}
.p48{
    clip-path: polygon(34% 31%, 23% 63%, 28% 56%, 34% 54.5%);
    background:#3e3e3c;
}
.p49{
    clip-path: polygon(33.9% 31%, 44% 51.5%, 38.9% 50.6%, 36.4% 54%, 33.9% 54.5%);
    background:#4e4e4e;
}
.p55{
    clip-path: polygon(50% 11%, 32% 59%, 53% 60%);
    background:#393937;
}
.p51{
    clip-path: polygon(49.9% 11%, 73% 59%, 52.9% 60%);
    background:#4e4e4e;
}
.p52{
    clip-path: polygon(70% 30%, 68% 57%, 57% 57%);
    background:#3e3e3c;
}
.p53{
    clip-path: polygon(69.9% 31%, 67.9% 57%, 80% 64%);
    background:#4e4e4e;
}
.p54{
    clip-path: polygon(33.9% 31%, 31.2% 39%, 34% 40%);
    background:#abc6d8;
}
.p50{
    clip-path: polygon(33.8% 30.8%, 38.3% 39.9%, 33.9% 40%);
    background:#f8f6c3;
}
.p56{
    clip-path: polygon(49.9% 11%, 45.8% 22%, 51% 25%);
    background:#abc6d8;
}
.p57{
    clip-path: polygon(49.8% 10.8%, 58.3% 28.2%, 50.9% 25%);
    background:#f8f6c3;
}
.p58{
    clip-path: polygon(70% 30%, 69% 40%, 66% 38%);
    background:#abc6d8;
}
.p59{
    clip-path: polygon(70% 30%, 69% 40%, 73.5% 42%);
    background:#f8f6c3;  
}
.t1{
    clip-path: polygon(50% 47%, 49% 63%, 46% 65%, 50.1% 66.5%, 51.1% 64%);
    background:#0b0703;
}
.t2{
    clip-path: polygon(49.9% 45%, 50.9% 64%, 49.9% 66.5%, 53% 66.5%, 52.1% 58%, 53.1% 45%);
    background:#1e140e;
}
.t3{
    clip-path: polygon(52% 49%, 51.9% 57%, 52.9% 66.5%, 55% 64%, 53% 58%, 53% 44%);
    background:#5d432e;
}
.t4{
    clip-path: polygon(41% 13%, 43% 18.5%, 50% 15%);
    background:#4a58a4;
}
.t5{
    clip-path: polygon(41% 13%, 52.5% 7%, 50% 15%);
    background:#93b4ec;
}
.t6{
    clip-path: polygon(55% 21%, 52.5% 7%, 50% 15%);
    background:#5e5cc4;
}
.t7{
    clip-path: polygon(55% 21%, 57% 9%, 53.2% 11.5%);
    background:#8697bf;
}
.t8{
    clip-path: polygon(54.9% 21%, 56.9% 9%, 58.8% 17.5%);
    background:#7378d4;
}
.t9{
    clip-path: polygon(61.4% 11%, 57.7% 13%, 58.8% 17.5%);
    background:#8f9fee;
}
.t10{
    clip-path: polygon(61.4% 11%, 62.6% 18%, 58.8% 17.5%);
    background:#6e79cc;
}
.t11{
    clip-path: polygon(61.3% 11%, 62.5% 18%, 64.3% 14.5%);
    background:#41479e;
}
.t12{
    clip-path: polygon(58.8% 17.4%, 65.3% 18%, 66.3% 22.5%);
    background:#8092ea;
}
.t13{
    clip-path: polygon(58.8% 17.4%, 60.3% 26.7%, 66.3% 22.5%);
    background:#576eb0;
}
.t14{
    clip-path: polygon(58.9% 17.4%, 60.4% 26.7%, 54.8% 21%);
    background:#6f6cbd;
}
.t15{
    clip-path: polygon(44.9% 24%, 43% 18.4%, 50% 14.9%);
    background:#5b709d;
}
.t16{
    clip-path: polygon(44.9% 24%, 52.8% 24.5%, 50% 14.9%);
    background:#4e4397;
}
.t17{
    clip-path: polygon(54.9% 20.9%, 52.8% 24.5%, 50% 14.9%);
    background:#8993c9;
}
.t18{
    clip-path: polygon(54.9% 20.8%, 52.8% 24.5%, 61.7% 29.8%,60.5% 26.8%);
    background:#48498f;
}
.t19{
    clip-path: polygon(68.9% 26.7%, 61.7% 29.8%,60.5% 26.8%);
    background:#564bb1;
}
.t20{
    clip-path: polygon(68.9% 26.7%, 66.3% 22.5%,60.2% 26.8%);
    background:#1e1866;
}
.t21{
    clip-path: polygon(68.9% 26.7%, 66.2% 22.5%, 72.6% 21.5%,73.2% 24.5%);
    background:#6c74c6;
}
.t22{
    clip-path: polygon(68.9% 26.7%, 72.5% 30.7%, 73.2% 24.5%);
    background:#8c97dd;
}
.t23{
    clip-path: polygon(74.8% 33.7%, 72.4% 30.6%, 72.9% 26.5%, 78.2% 29.5%);
    background:#96b3e7;
}
.t24{
    clip-path: polygon(69.1% 26.7%, 74.9% 33.8%, 72.2% 36%);
    background:#2d356b;
}
.t25{
    clip-path: polygon(69.2% 26.7%, 65.9% 33.7%, 72.3% 36%);
    background:#333291;
}
.t26{
    clip-path: polygon(69.1% 26.6%, 66% 33.7%, 61.7% 29.8%);
    background:#77adcf;
}
.t27{
    clip-path: polygon(77.1% 39.7%, 74.9% 33.8%, 72.2% 35.8%);
    background:#334182;
}
.t28{
    clip-path: polygon(77.1% 39.7%, 74.9% 42.5%, 72.2% 35.7%);
    background:#6b6cbc;
}
.t29{
    clip-path: polygon(70.4% 41.7%, 75% 42.5%, 72.2% 35.6%);
    background:#786fce;
}
.t30{
    clip-path: polygon(70.5% 41.5%, 64.2% 38.1%, 72.1% 35.9%);
    background:#a4b8e9;
}
.t31{
    clip-path: polygon(65.9% 33.7%, 64.2% 38.1%, 72.2% 35.8%);
    background:#594fb1;
}
.t32{
    clip-path: polygon(65.9% 33.7%, 64.2% 38.1%, 57% 37.5%, 61.6% 29.8%);
    background:#584faa;
}
.t33{
    clip-path: polygon(60% 43.7%, 64.2% 38.1%, 57% 37.5%);
    background:#292673;
}
.t34{
    clip-path: polygon(60.1% 43.7%, 54.7% 42.5%, 57.1% 37.5%);
    background:#282955;
}
.t35{
    clip-path: polygon(60% 43.7%, 54.7% 42.5%, 53% 46.5%);
    background:#8580c0;
}
.t36{
    clip-path: polygon(60% 43.7%, 54.7% 52.5%, 53% 46.5%);
    background:#635a8a;
}
.t37{
    clip-path: polygon(59.9% 43.7%, 54.6% 52.5%, 60% 49%);
    background:#4a3f6c;
}
.t38{
    clip-path: polygon(59.9% 43.7%, 63.6% 50%, 59.9% 49%);
    background:#4b4d70;
}
.t39{
    clip-path: polygon(59.9% 43.6%, 63.6% 50%, 64% 46%);
    background:#9c93d6;
}
.t40{
    clip-path: polygon(60% 43.6%, 65.6% 42.9%, 64% 46%);
    background:#675e9f;
}
.t41{
    clip-path: polygon(60% 43.7%, 65.7% 43%, 64.1% 38.2%);
    background:#827ae0;
}
.t42{
    clip-path: polygon(70.6% 41.5%, 65.6% 43%, 63.9% 38%);
    background:#958df5;
}
.t43{
    clip-path: polygon(70.6% 41.4%, 65.4% 43%, 69% 44.2%);
    background:#352386;
}
.t44{
    clip-path: polygon(70.6% 41.7%, 73.9% 44.2%, 69% 44.2%);
    background:#796dce;
}
.t45{
    clip-path: polygon(70.6% 50%, 73.9% 44.2%, 69% 44.2%);
    background:#413684;
}
.t44{
    clip-path: polygon(70.6% 41.7%, 73.9% 44.2%, 75% 42.2%);
    background:#576087;
}
.t45{
    clip-path: polygon(79.8% 43.1%, 76.6% 44.9%, 75% 42.2%);
    background:#4f5177;
}
.t46{
    clip-path: polygon(79.8% 43.2%, 76.8% 39.4%, 75% 42.3%);
    background:#6e7ece;
}

.t47{
    clip-path: polygon(49.5% 45.7%, 54.7% 42.5%, 53% 46.5%);
    background:#6460af
}

.t48{
    clip-path: polygon(49.5% 45.7%, 48.7% 52.5%, 53% 46.5%);
    background:#393671;
}
.t49{
    clip-path: polygon(49.5% 45.7%, 48.7% 52.5%, 47% 46.5%);
    background:#2d3851;
}
.t50{
    clip-path: polygon(49.5% 45.7%, 45% 41.5%, 47% 46.5%);
    background:#524981;
}
.t51{
    clip-path: polygon(49.5% 45.7%, 45% 41.5%, 54.8% 42.6%);
    background:#5a5296;
}
.t52{
    clip-path: polygon(51% 37%, 45% 41.5%, 54.8% 42.6%);
    background:#716fb1;
}
.t53{
    clip-path: polygon(51% 37%, 57.2% 37.4%, 54.8% 42.6%);
    background:#8b9ac1;
}
.t54{
    clip-path: polygon(51% 37%, 57.2% 37.4%, 52.3% 31.5%);
    background:#b5cef6;
}
.t55{
    clip-path: polygon(61.5% 29.8%, 57.2% 37.4%, 52.3% 31.5%);
    background:#a3a9e5;
}
.t56{
    clip-path: polygon(61.5% 29.8%, 53% 24.5%, 52.3% 31.5%);
    background:#5a52b5;
}
.t57{
    clip-path: polygon(45.5% 37.8%, 53% 24.5%, 52.3% 31.5%, 51.1% 37%);
    background:#35396c;
}
.t58{
    clip-path: polygon(45.5% 37.8%, 53% 24.5%, 44.7% 24%, 43.1% 29%);
    background:#9caae9;
}












